h1 {
    font-family: 'Times New Roman';
}

h3 {
    color:blue;
    font-family: 'calibri';
}

p {
    font-family: 'helvetica';
    font-size: 18px;
}
.container-fluid {
    background: #ffece1;
}

.nav-link {
    color: #6E403D;
}

.navbar {
    margin: 0; 
    padding: 0;
}

.nav-link{
   font-size: 20px; 
}
.eerste-div{
    background:#6E403D;
}

.eerste-div img {
    max-width: auto; 
    height: auto; 
    display: block; 
    margin: auto;
}


.tweede-div{
    background:#ffece1;
    padding: 20px; 
}

.tweede-div img {
    max-width: 100%; 
    height: auto; 
    margin-right: 15px; 
}

.responsive-image {
    width: 100%; 
    height: auto; 
}

.responsive-image {
    width: 100%; 
    height: auto; 
}


@media (min-width: 768px) {
    .responsive-image {
        width: 50%; 
    }
}

@media (min-width: 992px) {
    .responsive-image {
        width: 33.33%; 
    }
}

.custom-button {
    background-color: #6E403D; 
    color: white; 
    border: none; 
    font-family: 'helvetica';
}

.custom-button:hover {
    background-color: white; 
    color: #6E403D;
    border: #6E403D;
    font-family: 'helvetica';
}

