h1 {
    font-family: 'calibri';
}

h3 {
    color:blue;
    font-family: 'calibri';
}

p {
    font-family: 'calibri';
}
.container {
    background: #ffece1;
    display: block;
    width: 100%; /* Full width of the page */
    /* Remove height: 100vh; to allow height to be determined by content */
}


.eerste-div{
    background:#6E403D;
}

.eerste-div img {
    width: 100%; 
    height: auto; 
    display: block; 
}