<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form>
        <div class="contactForm"><label for="FirstName" class="form-label">Voornaam:</label><br>
        <input type="text" class="form-control" id="FirstName">
        </div>
        <br>
        <div class="contactForm"><label for="LastName" class="form-label">Achternaam:</label><br>
        <input type="text" class="form-control" id="LastName">
        </div>
        <br>
        <div class="contactForm"><label for="Email" class="form-label">E-mailadres:</label><br>
            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
        </div>
        <br>
        <div class="contactForm"><label for="Phone" class="form-label">Telefoonnummer:</label><br>
            <input type="tel" id="Phone" name="Phone" placeholder="06-12345678" pattern="[0-9]{2}-[0-9]{8}" required>
        </div>
        <br>
        <div class="contactForm"><label for="TextBox" class="form-label">Zet hieronder je vragen:</label><br>
        <textarea id="TextBox" name="TextBox" rows="20" cols="100"></textarea>
        <br>
        <div class="contactFormCheck"><input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Ik wil op de hoogte blijven voor nieuwsberichten van Weddingplanner Blooming Days.</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Versturen</button>
    </form>
</body>
</html>