:root {
    --primary: #6E403D;      
    --secondary: #ffece1;   
    --accent: #666354;    
    --light: #F5E8DB;      
    --primary-light: #8a5452; 
    --text-dark: #333333;   
    --text-light: #ffffff;   
}

h1 {
    font-family: 'Times New Roman';
}

h3 {
    color: var(--light);
    font-family: 'calibri';
}

p {
    font-family: 'helvetica';
    font-size: 18px;
}
.container-fluid {
    background: var(--secondary);
}

.nav-link {
    color: var(--primary);
    
}
.nav-link:hover {
    color: var(--accent); 
    transform: translateY(-2px); 
}

.navbar {
    margin: 0; 
    padding: 0;
}

.nav-link{
   font-size: 20px; 
}

.footer-div {
    background-color: var(--primary);
    color: var(--text-light);
    padding: 20px 0; 
}

.footer-div h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-div p, .footer-div a {
    font-size: 14px;
    color: var(--text-light);
    text-decoration: none;
}

.footer-div a:hover {
    text-decoration: underline;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: var(--text-light);
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

