:root {
    --primary: #6E403D;      
    --secondary: #ffece1;   
    --accent: #666354;    
    --light: #F5E8DB;      
    --primary-light: #8a5452; 
    --text-dark: #333333;   
    --text-light: #ffffff;   
}

h1 {
    font-family: 'Times New Roman';
}

h3 {
    color: var(--light);
    font-family: 'calibri';
}

p {
    font-family: 'helvetica';
    font-size: 18px;
}
.container-fluid {
    background: var(--secondary);
}

.nav-link {
    color: var(--primary);
    
}
.nav-link:hover {
    color: var(--accent); 
    transform: translateY(-2px); 
}

.navbar {
    margin: 0; 
    padding: 0;
}

.nav-link{
   font-size: 20px; 
}
.contactForm{
    padding: 15px;
}

.services-row {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
}

.service {
    flex: 1; 
    padding: 10px;
    background-color: var(--secondary); 
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .services-row {
        flex-direction: column; 
    }

    .service {
        margin-bottom: 20px; 
    }
}

.eerste-div{
    background-color: var(--primary);
    padding: 20px;
    

}

.eerste-div img{
    size: 60%

}

.eerste-div h1{
    padding-left: 0; 
    text-align: center; 
    color: var(--text-light);
    font-family: 'Times New Roman';
    font-size: 3rem; 
}

h1{
    color:white;
    font-family: 'Times New Roman';
}

h2{
    color:var(--text-light);
    font-family: 'Times New Roman';

}

p{
    color:var(--text-light)

}

.col-md-4{
    padding-left: 40px;
}

.tweede-div{
    background-color: var(--primary);
    padding: 20px;
    

}

.footer-div {
    background-color: var(--accent);
    color: var(--accent);
    padding: 20px 0; 
}

.footer-div h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-div p, .footer-div a {
    font-size: 14px;
    color: var(--secondary);
    text-decoration: none;
}

.footer-div a:hover {
    text-decoration: underline;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: var(--primary);
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}



.features-list {
    padding-left: 20px;
    margin-bottom: 20px;
}

.features-list li {
    margin-bottom: 8px;
    list-style-type: circle; 
    color:var(--text-light)
}

.pricing {
    font-weight: bold;
    margin-top: 15px;
    color: var(--text-light);
}