:root {
    --primary: #6E403D;      
    --secondary: #ffece1;   
    --accent: #666354;    
    --light: #F5E8DB;      
    --primary-light: #7a514d; 
    --text-dark: #333333;   
    --text-light: #ffffff; 
    --text-extra:#36201f;  
}

.services-row {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
}

.service {
    flex: 1; 
    padding: 10px;
    background-color: var(--secondary); 
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .services-row {
        flex-direction: column; 
    }

    .service {
        margin-bottom: 20px; 
    }
}

.eerste-div{
    background-color: var(--primary-light);
    padding-left: 20px;
    padding-right: 20px;
    

}

.eerste-div img{
    size: 60%

}

.eerste-div h1{
    padding-left: 0; 
    text-align: center; 
    color: var(--text-light);
    font-family: 'Times New Roman';
    font-size: 3rem; 
}

.eerste-div .col-md-4 {
    position: relative;
}

.eerste-div .col-md-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}


.eerste-div .col-md-4 img::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--secondary);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
}

.eerste-div .col-md-4 img:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

h1{
    color:white;
    font-family: 'Calibri';
}

h2{
    color:var(--text-light);
    font-family: 'calibri';

}

p{
    color:var(--text-light)

}

.column-text {
    text-align: center; 
    color: var(--text-light); 
    font-family: 'Times New Roman'; 
    font-size: 1.2rem; 
    margin-top: 20px;  
}

.col-md-4{
    padding-left: 40px;
}

.tweede-div{
    background-color: var(--primary-light);
    padding: 20px;
    

}

.text-center {
    text-align: center;
}

.features-list {
    padding-left: 20px;
    margin-bottom: 20px;
}

.features-list li {
    margin-bottom: 8px;
    list-style-type: circle; 
    color:var(--text-light)
}

.pricing {
    font-weight: bold;
    margin-top: 15px;
    color: var(--text-light);
    background-color: var(--primary);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.pricing p {
    margin-bottom: 0;
}

.pricing-card {
    background-color: var(--light);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none !important;
}

.pricing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.pricing-card h3 {
    color: var(--primary);
}

.pricing-card .features-list li {
    color: var(--text-dark);
}