{% extends "baseDB.html" %}

{% block stylesheet %}
<link href="{{ url_for('static', filename='css/db_stylesheet.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contentDB %}
<div class="admin-dashboard">
    <h1 class="admin-title">Dit zijn alle contactformulieren die op zijn gestuurd:</h1>
    <br>
    <div class="table-wrapper">
        <table class="table" border="2">
            <thead>
                <tr>
                    <th>id</th>
                    <th>voornaam</th>
                    <th>achternaam</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                {% for af in afspraken %}
                <tr class="table-row">
                    <td>{{ af.id }}</td>
                    <td>{{ af.voornaam }}</td>
                    <td>{{ af.achternaam }}</td>
                    <td>{{ af.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
</div>
{% endblock %}