{% extends 'base.html' %}

{% block stylesheet %}
<link href="../../../static/css/base_stylesheet.css" rel="stylesheet" type="text/css">
<link href="../../../static/css/contact_stylesheet.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}   
    <div class ="eerste-div"> 
        <div class="overlay-text">
    <h1>Contactformulier</h1>
    
        {% if voornaam %}
            <p>Bedankt voor de contactsformulier {{ voornaam}}!</p>
            <br>
            <p>U krijgt zo snel mogelijk antwoord.</p>
        {% else %}
            <form  method="POST" class="contact-form">
            {{ form.hidden_tag() }}
            {{ form.voornaam.label }} {{form.voornaam}}
            <br>
            {{ form.achternaam.label }} {{form.achternaam}}
            <br>
            {{form.gender.label}}{{form.gender}}
            <br>
            {{form.telefoon.label}}{{form.telefoon}}
            <br>
            {{ form.email.label }} {{form.email}}
            <br>
            {{ form.tekst.label }} {{form.tekst}}
            <br>
            {{ form.checkbox.label }} {{form.checkbox}}

            <br>
            <br>
            {{ form.submit() }}
            </form>
        {% endif %}
    </div>
    </div>
{%endblock%}

