{% extends "base.html" %}
{% block stylesheet %}
<link href="../../../static/css/register_stylesheet.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="eerste-div"> 
    <div class="overlay-text">
        <h1>Registreren</h1>
        <div class="form-container">
            <form method="POST" class="contact-form">
                {{ form.hidden_tag() }}
                
                <div class="form-field">
                    {{ form.email.label(class="form-label") }} {{ form.email(class="form-input") }}
                </div>
                <div class="form-field">
                    {{ form.username.label(class="form-label") }} {{ form.username(class="form-input") }}
                </div>
                <div class="form-field">
                    {{ form.password.label(class="form-label") }} {{ form.password(class="form-input") }}
                </div>
                <div class="form-field">
                    {{ form.pass_confirm.label(class="form-label") }} {{ form.pass_confirm(class="form-input") }}
                </div>
                <div class="button-container">
                    {{ form.submit(class="submit-btn") }}
                </div>
                <div class="register-link">
                    <p>Al een account? <a href="{{ url_for('user.login') }}">Log hier in</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}



