<div class="footer-div">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/../static/images/Roze mono.png" alt="logo mono" class="responsive-image" width="120" height="120">
            </div>
            <div class="col-md-4">
                <h4>Contact Info</h4>
                <p>Email: info@weddingplanner.com</p>
                <p>Telefoon: +31 6 12345678</p>
            </div>
            <div class="col-md-4">
                <h4>Volg Ons</h4>
                <a href="https://facebook.com" target="_blank">Facebook</a><br>
                <a href="https://instagram.com" target="_blank">Instagram</a><br>
                <a href="https://twitter.com" target="_blank">Twitter</a>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2025 Blooming Days. All rights reserved.</p>
        </div>
    </div>
</div>