    <nav class="navbar bg-body-tertiary w-100" style="background-color: #ffece1;"> 
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="/../static/images/Rood.png" alt="Logo" width="240" height="135">
            </a> 
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.services') }}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.login') }}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
